CompileFlags:
  Add: [-I/opt/homebrew/Cellar/python@3.11/3.11.9/Frameworks/Python.framework/Versions/3.11/include/python3.11,
        -I/home/david/anaconda3/include/python3.11,
	-I/home/david/anaconda3/envs/control/lib/python3.11/site-packages/numpy/core/include,
	]
