ambiance==1.3.1
astropy==6.1.0
astropy-iers-data==0.2024.5.27.0.30.8
clarabel==0.8.1
contourpy==1.2.0
control==0.9.4
cvxpy==1.5.1
cycler==0.12.1
Cython==3.0.9
debugpy==1.8.1
ecos==2.0.13
fonttools==4.49.0
kiwisolver==1.4.5
llvmlite==0.42.0
matplotlib==3.8.3
mplcursors==0.5.3
mpmath==1.3.0
numba==0.59.1
numpy==1.26.4
osqp==0.6.7
packaging==23.2
pillow==10.2.0
psutil==5.9.8
pydub==0.25.1
pyerfa==2.0.1.4
pynvim==0.4.3
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
qdldl==0.1.7.post2
scipy==1.13.1
scs==3.2.4.post1
six==1.16.0
sympy==1.12
tqdm==4.66.2
